/* CSS files add styling rules to your content */

@font-face {
    font-family: 'gilroyextrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light-webfont.woff2') format('woff2'),
         url('gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'gilroybold';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Bold.woff') format('woff');
}

@font-face {
font-family: 'gilroymedium';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Medium.woff') format('woff');
}


@font-face {
font-family: 'gilroyregular';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Regular.woff') format('woff');
}

h1 {
  font-family:  "gilroymedium";
  text-align: center;
  letter-spacing: 3px;
  padding-top: 40px;
  font-size: 40px;

}

p {
  font-family:  "gilroylight";
  text-align: center;
  margin-top: -15px;
  font-size: 20px;
}

div {
  text-align: center;
  margin-top: 30px;
}

.sm:hover {
  opacity: 0.7;
}

.sm img{
  width: 45px;
  padding: 8px;
  
}

.projects {
  box-sizing:border-box;
  background-color:#a8d0e6;
  color: white;
  padding-top: 150px;
  height: 300px;
  text-align: center;
  
  float:left;
  width:33.3%;
}

.about {
  box-sizing:border-box;
  background-color:#374785;
  color: white;
  padding-top: 150px;
  height: 300px;
  text-align: center;
  
  
  float:left;
  width:33.3%;
}

.resume{
  box-sizing:border-box;
  background-color:#f8e9a1;
  color: white;
  padding-top: 150px;
  height: 300px;
  text-align: center;
  
  
  float:left;
  width:33.3%;
}

@media screen and (max-width:1000px) {
  .projects, .about, .resume {
    width:100%;
  }
}

.projects:hover {
  opacity: 0.7;
}

.about:hover {
  opacity: 0.7;
}

.resume:hover {
  opacity: 0.7;
}