/* CSS files add styling rules to your content */

body {
  font-family:  "Helvetica Neue";
  margin: 2em;
  font-size: 15px;
}

h1 {
  font-family:  "Helvetica Neue";
  font-size: 30px;

}

.sm:hover {
  opacity: 0.7;
}

.sm img{
  width: 50px;
  height:50px;
  margin-right: 15px;
  margin-top: 10px;
}