@font-face {
    font-family: 'gilroyextrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light-webfont.woff2') format('woff2'),
         url('gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'gilroybold';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Bold.woff') format('woff');
}

@font-face {
font-family: 'gilroymedium';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Medium.woff') format('woff');
}


@font-face {
font-family: 'gilroyregular';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Regular.woff') format('woff');
}

* {
  box-sizing: border-box;
}

div {
  float: left;
  width: 30%;
  padding: 20px;
}

.image-contain {
  text-align: center;
  vertical-align: middle;
  
}

.image-contain img {
	max-width: 320px;
	padding: 30px;
	margin-top: 50px;
}

article {
  float: left;
  padding: 30px;
  width: 64%;
}

@media (max-width: 1000px) {
  div, article {
    width: 100%;
    height: auto;
  }
}

h1 {
  font-family:  "gilroymedium";
  font-size: 40px;
}

p {
  font-family:  "gilroylight";
  font-size: 20px;
}

a {
  color: black;
}

ul {
  font-family:  "gilroylight";
  font-size: 20px;
}

button {
  background-color:#374785;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-family:  "gilroylight";
  font-size: 15px;
  border-radius: 12px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);  
  margin: 10px;
  padding: 10px;
}

button:hover {
  opacity: 0.7;
}