/* CSS files add styling rules to your content */

@font-face {
    font-family: 'gilroyextrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light-webfont.woff2') format('woff2'),
         url('gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'gilroybold';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Bold.woff') format('woff');
}

@font-face {
font-family: 'gilroymedium';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Medium.woff') format('woff');
}


@font-face {
font-family: 'gilroyregular';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Regular.woff') format('woff');
}

h1 {
  font-family:  "gilroymedium";
  text-align: center;
  letter-spacing: 3px;
  padding-top: 40px;
  font-size: 40px;

}

p {
  font-family:  "gilroylight";
  text-align: center;
  margin-top: -15px;
  font-size: 20px;
}

div {
  text-align: center;
  margin-top: 30px;
}

.sm:hover {
  opacity: 0.7;
}

.sm img{
  width: 45px;
  padding: 8px;
  margin-bottom: 10px;
  
}

.projects {
  box-sizing:border-box;
  background-color:#a8d0e6;
  padding-top: 175px;
  height: 350px;
  margin-left: 3%;
  margin-top:45px;
  float:left;
  width:29.3%;
}

.pro {
  font-size: 30px;
  color: white;
  font-family:  "gilroybold";
}

.about {
  box-sizing:border-box;
  background-color:#374785;
  padding-top: 175px;
  height: 350px;
  margin-left: 3%;
  margin-top:45px;
  
  
  float:left;
  width:29.3%;
}

.ab{
  font-size: 30px;
  color: white;
  font-family:  "gilroybold";
}

.resume{
  box-sizing:border-box;
  background-color:#f8e9a1;
  padding-top: 175px;
  height: 350px;
  margin-left: 3%;
  margin-top:45px;
  margin-bottom: 80px;
  
  float:left;
  width:29.3%;
}

.res{
  font-size: 30px;
  color: white;
  font-family:  "gilroybold";
}

@media screen and (max-width:1000px) {
  .projects, .about, .resume {
    width:94%;
  }
}

.projects:hover {
  opacity: 0.7;
}

.about:hover {
  opacity: 0.7;
}

.resume:hover {
  opacity: 0.7;
}

#footer {
  color: grey;
  font-family: "gilroylight";
  font-size: 15px;
  
  position: relative;
  margin-top: -180px;
  text-align: center;
  height: 180px;
  clear: both;
}

hr{
  width: 60%;
  align: center;
  border-width: 0.5px;
}

.projpage {
  font-size: 30px;
  font-family:  "gilroylight";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
}

.pl {
	color: black;
}
