/* CSS files add styling rules to your content */

@font-face {
    font-family: 'gilroyextrabold';
    src: url('gilroy-extrabold-webfont.woff2') format('woff2'),
         url('gilroy-extrabold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'gilroylight';
    src: url('gilroy-light-webfont.woff2') format('woff2'),
         url('gilroy-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
font-family: 'gilroybold';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Bold.woff') format('woff');
}

@font-face {
font-family: 'gilroymedium';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Medium.woff') format('woff');
}


@font-face {
font-family: 'gilroyregular';
font-style: normal;
font-weight: normal;
src: url('Gilroy-Regular.woff') format('woff');
}

h1 {
  font-family:  "gilroymedium";
  font-size: 40px;
  text-align: center;
  line-height: 0px;
  padding-top: 40px;
  padding-bottom: 3px;
  letter-spacing: 3px;

}

body {
  font-family:  "gilroylight";
  font-size: 20px;
  text-align: center;
}

.sm:hover {
  opacity: 0.7;
}

.sm_em:hover {
  opacity: 0.7;
}

.sm img{
  width: 50px;
  height: 50px;
  margin-right: 18px;
  margin-top: 25px;
}

.sm_em img{
  width: 50px;
  height: 50px;
  margin-right: 18px;
  margin-top: 25px;
  opacity: 0.83;
  
}